@import 'components/css/select.css';
@import 'components/css/select2.min.css';
@import 'components/css/bootstrap.min.css';
@import 'components/css/all.min.css';
@import 'components/css/font-cairo.css';
@import 'components/css/font.css';
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');

@font-face {
    font-family: heart;
    src: url('components/fonts/FoolForLove-KeMy.ttf');
}

*::-webkit-scrollbar {
    width: 0px;
}

*.thin::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: transparent;
}

$mainColor : #0288D1;
$subColor : #0097A7;

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: url(../img/back2.png);

}

.app {
    align-items: center;
    justify-content: center;
    display: block;
    height: 100vh;
    // background: #f00;
    overflow: hidden;
    flex-flow: column-reverse;

    .header,
    .footer {
        height: 15vh;
        display: block;
        width: 100%;
        text-align: center;
        padding: 9px;
        margin-bottom: 25px;
        position: relative;
        overflow: hidden;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;

        .iconuser,
        .icondoor {
            position: absolute;
            left: 10px;
            top: 5px;
            z-index: 99999;
            font-size: 24px;
            color: #fff;
        }

        .iconuser {
            top: 5px;
        }

        .icondoor {
            color: #fff;
            top: 5px;
            z-index: 999;
            left: auto;
            right: 18px;
        }

        .curve {
            position: fixed;
            z-index: 99;
            top: 0;
            width: 85px;
            right: 0;
        }

        .curveRight {
            position: fixed;
            left: 0;
            z-index: 999;
            width: 85px;
            top: 0;
            right: auto;
        }

        .top {
            position: absolute;
            right: 0;
            left: 0;
            width: 100%;
            top: 0em;
        }

        ;
    }

    .footer {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;

        .message {
            width: 70%;
        }
    }

    .header {
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img.bk {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        height: auto;
        margin: 0 auto;
        position: relative;
        z-index: 9899;
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    .text {
        position: relative;
        width: auto;
        height: 50%;
        text-align: center;
    }

    .row {
        width: 100%;
        margin: 0;
        z-index: 9999;
        position: relative;
    }


    .All_Button {
        display: inline-flex;
        width: 100%;
        flex-flow: wrap;
        height: 60vh;


        a {
            font-family: heart;
            width: 45%;
            margin: 10px auto;
            // background: transparent;
            padding: 20px 3px;
            border: 3px solid #fff;
            // color: #fff;
            background: #c61f25;
            color: #fff;
            // border-top-left-radius: 92%;
            // border-bottom-left-radius: 0;
            // border-bottom-right-radius: 94%;
            border-radius: 9px;
            position: relative;
            outline: none;
            outline: none;
            text-align: center;
            text-decoration: none;
            font-weight: 900;
            border: 2px solid red;
            height: 70px;
            background: transparent;
            color: #060606;
            font-weight: 900;

            p {
                transform: rotate(0deg);
                margin-bottom: 0;
                font-size: 16px;
            }

            &:last-child,
            &:first-child {
                background: transparent;
                color: #060606;
                font-weight: 900;
            }



            .fa-heart.bottom {
                position: absolute;
                left: -0;
                bottom: -0;
                transform: rotate(45deg);
            }

            .fa-heart.top {
                top: -1px;
                right: 0px;
                transform: rotate(225deg);
                position: absolute;
            }
        }

        .form-group {
            width: 100%;
            position: relative;
            margin-top: 10px;

            .right,
            .left {
                position: absolute;
                right: -11px;
                top: 0%;
                z-index: 9;
                font-size: 44px;
                transform: rotate(90deg);
                color: #fff;
                z-index: 0;
            }

            .left {
                right: auto;
                left: -11px;
                transform: rotate(-90deg) !important;
            }

            input {
                background: #fffdfd;
                border: 2px solid #fff;
                padding: 8px 30px;
                width: 90%;
                margin: 0 auto;
                display: block;
                border-radius: 20px;
                outline: none;
                text-align: center;
            }
        }

    }

    .lang {
        padding-top: 50px;
        height: 65vh !important;



        button {
            position: relative;
            z-index: 99;
            background: #fff;
            width: 120px;
            padding: 6px;
            margin: 10px;
            border: 0;
            margin-top: 50px;
            outline: none;
            border-radius: 20px;


            i {
                position: absolute;
                top: -24px;
                font-size: 51px;
                left: -5px;
                right: 0;
                z-index: -6;
                color: #fff;
            }
        }

        h3 {
            font-family: heart;
            font-weight: 900;
            color: #fff;
            letter-spacing: 2.5px;
            position: relative;
            font-size: 17px;

            hr {
                border: 2px solid #fff;
                width: 20%;
            }

            i {
                position: absolute;
                top: 45%;
                width: 28px;
                right: 31%;
                background: #fff;
                font-size: 14px;
                height: 22px;
                color: red;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;


            }
        }

        textarea {
            width: 85%;
            display: block;
            margin: 0 auto;
            resize: none;
            height: 100px;
            border: 0;
            text-align: center;
            padding: 16px;
            border-radius: 10px;
        }

        .textarea {
            margin-top: 0 !important;

            i {
                top: 27% !important;
            }
        }
    }

    .fromheart {
        .textarea {
            margin-top: -140px !important;
            margin-bottom: -70px;
        }

        .first {
            margin-left: 0;
            margin-top: 50px;
            margin-top: -170px;

        }

        .sceconed {
            margin-right: 0;
            margin-top: 40px;
            margin-top: -170px;

        }

        h3 {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
            line-height: 2;

            hr {
                border: 2px solid #fff;
                width: 5%;
            }

            i {
                right: 46%;
                top: 63%;

            }
        }

        a {
            font-family: heart;
            width: 20%;
            transform: rotate(55deg);
            margin-top: -60px;

            p {
                transform: rotate(-55deg);
                font-size: 14px;

            }
        }
    }

    .contact {
        a {
            width: 40%;
            padding: 15px 8px;
        }

        .divSelect .select2.select2-container .select2-selection {
            border: 2px solid #c61f25;
            border-radius: 20px;
            height: 45px;
            transition: all 0.15s ease-in-out;

        }

        .select2.select2-container .select2-selection .select2-selection__arrow {
            background: transparent;
            border-left: 0;
            height: 44px;
            width: 44px;
        }

        .form-group.divSelect {
            width: 90%;
            display: block;
            margin: 0 auto;
        }

        .select2.select2-container .select2-selection .select2-selection__rendered {
            line-height: 44px;
            text-align: center;
        }
    }

    .sign {
        overflow: hidden;
        overflow-y: auto;
        padding-top: 0;

        .form-group {
            width: 90%;
        }

        .form-group.divSelect {
            width: 80% !important;
            display: block;

            .select2.select2-container .select2-selection .select2-selection__arrow {
                background: transparent;
                border-left: 0;
                height: 46px;
                width: 50px;
            }

            .select2.select2-container .select2-selection {
                border: 0;
                -moz-border-radius: 20px;
                border-radius: 20px;
                height: 45px;

                transition: all 0.15s ease-in-out;
            }

            .left {
                left: -25px;
            }

            .right {
                right: -25px;
            }

            .select2.select2-container .select2-selection .select2-selection__rendered {
                color: #525252;
                line-height: 2.9;
                padding-right: 0;
                text-align: center;
            }

            .select2-container .select2-dropdown .select2-results ul {
                background: #fff;
                border: 1px solid #c61f25 !important;

                .select2-results__option--highlighted[aria-selected] {
                    background-color: #c61f25 !important;
                }
            }

        }

        .btn {
            margin-top: 0;
            position: relative;
            z-index: 99;
            background: #fff;
            width: auto;
            padding: 6px;
            margin: 10px;
            border: 0;
            outline: none;
            border-radius: 20px;
            padding: 8px 20px;

            p {
                margin-bottom: 0;
                color: #757575;
                font-size: 15px;
                font-weight: 100;
                font-family: monospace;
                transform: rotate(0);
            }


            i {
                position: absolute;
                top: -24px;
                font-size: 51px;
                left: -5px;
                right: 0;
                z-index: -6;
                color: #fff;
                transform: rotate(0) !important;
            }
        }
    }
}

.app.white {


    .All_Button {
        height: 70vh !important;
        display: block;
        text-align: center;
        overflow: auto;
        padding-top: 0;

        h3 {
            font-weight: 900;
            color: #dc0017;

            hr {
                border: 2px solid #dc0017;
                width: 5%;
            }
        }


        ul.allMessage {
            padding: 0;
            line-height: 3;
            text-align: left;
            list-style: none;
            padding-bottom: 80px;

            p.dateMessage {
                text-align: center;
                margin-bottom: 0;
                font-weight: 600;
                margin-left: 0px;
                background: #f1f1f1;
                border: 1px solid #cccccc63;
                padding-left: 7px;
                color: #c61f25;
            }

            li {
                border: 1px solid #f3f1f1;
                margin: 5px 0;
                padding: 10px 5px;
                font-family: heart;
                display: block;
                height: 75px;
                word-spacing: -3px;
                background: #fff;
                position: relative;
                overflow: hidden;

                i {
                    width: 20px;
                    display: inline-block;
                    float: right;
                    line-height: 4;
                    color: #eb4d4b;
                }

                img {
                    width: 55px;
                    /* background: #eb4d4b; */
                    padding: 7px;
                    border-radius: 6px;
                    margin-right: 5px;
                    height: auto;
                    float: left;

                }

                img.emojy {
                    width: 35px;
                    height: 35px;
                    margin-top: 0;
                    padding: 4px;
                    right: 0;
                    position: absolute;
                    top: 6px;
                }

                p {
                    white-space: nowrap;
                    width: 78%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-family: 'Open Sans', Arial, sans-serif;
                    padding-right: 26px;
                    display: inline-block;
                    word-spacing: 0px;
                    font-size: 14px;
                }

                b.name {
                    font-weight: bolder;
                    position: absolute;
                    right: 0;
                    display: block;
                    bottom: 0;
                    width: 83%;
                    font-family: 'Josefin Sans', ;
                    color: #888;
                    font-size: 13px;
                    font-weight: 100;
                    word-spacing: 1px;

                    .date {
                        position: absolute;
                        right: 10px;
                        color: green;
                    }
                }
            }
        }

    }

    .footer,
    .header {
        height: 12vh;
    }

    .footer img {
        height: 80%;
    }

    .Image_define {
        position: fixed;
        bottom: 0;
        z-index: 999999;
        padding: 10px 5px;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-bottom: 3px;

        li {
            width: (100%/3);
            display: inline-block;
            background: #fff;
            margin: -3px;
            border: 1px solid #ccc;
            padding: 2px;

            img {
                width: 30%;
            }

            p {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
}

.indexApp {
    overflow: hidden;

    .All_Button {
        display: inline-flex;
        height: 200px;
        align-items: center;
        justify-content: center;

    }

    .footer {
        position: absolute;
        bottom: 30px;
    }
}

.messagebox {
    .header {
        .logo {
            height: auto;
            margin: 0 auto;
            position: relative;
            z-index: 9899;
            width: 60%;
            display: block;
            margin: 0 auto;
            margin-top: 15px;
        }
    }

    .footer img {
        height: 100% !important;
        width: auto !important;
    }
}

.formheartpage {
    .header {
        height: 17vh !important;

        .logo {
            height: auto;
            margin: 0 auto;
            position: relative;
            z-index: 9899;
            width: 60%;
            display: block;
            margin: 0 auto;
            margin-top: 15px;
        }
    }

    .fromheart {
        display: block;
        min-height: 85vh !important;

        h3 {
            color: #c81f25;

            hr {
                border: 2px solid #c81f25;
            }
        }

        textarea {
            height: 160px;
            text-align: center;
            padding: 16px;
            border-radius: 10px;
            border: 2px solid #c81f25;

        }

        .textarea {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        .divSelect .select2.select2-container .select2-selection {
            border: 2px solid #c61f25;
            border-radius: 20px;
            height: 45px;
            transition: all 0.15s ease-in-out;

        }

        .select2.select2-container .select2-selection .select2-selection__arrow {
            background: transparent;
            border-left: 0;
            height: 44px;
            width: 44px;
        }

        .form-group.divSelect {
            width: 85%;
            display: block;
            margin: 0 auto;
        }

        .select2.select2-container .select2-selection .select2-selection__rendered {
            line-height: 44px;
            text-align: center;
        }

        .btnsMessage {
            width: 85%;
            margin: 0 auto;
            text-align: center;

            a {
                font-family: heart;
                width: 48%;
                transform: rotate(0);
                margin: 0 auto;
                margin-top: 20px;
                padding: 10px 5px;
                border-radius: 5px;
                background-color: #fff;
                border: 2px solid #c81f25;
                height: auto;
                display: inline-block;

                p {
                    transform: rotate(0);
                    display: inline-block;

                }

            }
        }

    }

    .footer img {
        height: 100% !important;
        width: auto !important;
    }
}

.All_Button.lang.contact {
    display: block;
    height: 85vh !important;

    .form-group input,
    .form-group textarea {
        border: 2px solid #c81f25;
    }

    h3 {
        color: #ca1f25;
        text-align: center;
        margin-bottom: 20px;

        hr {
            border: 1px solid #ca1f25;
            width: 5%;
        }
    }

    .btnsMessage {
        width: 85%;
        margin: 0 auto;
        text-align: center;

        a {
            font-family: heart;
            width: 48%;
            transform: rotate(0);
            margin: 0 auto;
            margin-top: 20px;
            padding: 10px 5px;
            border-radius: 5px;
            background-color: #fff;
            border: 2px solid #c81f25;
            height: auto;
            display: inline-block;

            p {
                transform: rotate(0);
                display: inline-block;

            }

        }
    }


}

.contactPage .footer img {
    height: auto !important;
    width: 40% !important;
}

.All_Button.lang.sign {
    display: block;
    width: 100%;
    height: 80vh !important;
    text-transform: capitalize;
    overflow: auto;

    .made {
        margin-top: 20px;

        p {
            text-align: center;
            margin-bottom: 0;
            color: #ca1f25;
            text-transform: lowercase;
        }

        h3 {
            font-weight: 600;
            color: #555;
            letter-spacing: 0;
            font-size: 23px;
            text-transform: capitalize;
            line-height: 1.4;

            p {
                font-size: 17px;
                color: #ca1f25;
                text-transform: capitalize;
                font-family: sans-serif;
            }

        }
    }

    h3 {
        color: #ca1f25;
        text-align: center;

        hr {
            border: 1px solid #ca1f25;
            width: 5%;
        }
    }

    .form-group {
        width: 100%;
        text-transform: capitalize;

        input {
            border: 2px solid #c91f25;
            text-transform: capitalize;

        }
    }

    .form-group.divSelect {
        width: 90% !important;
        display: block;
        margin: 0 auto;

        .select2.select2-container .select2-selection {
            border: 2px solid #c61f25
        }
    }

    .btnsMessage {
        width: 85%;
        margin: 0 auto;
        text-align: center;

        a {
            font-family: heart;
            width: 48%;
            transform: rotate(0);
            margin: 0 auto;
            margin-top: 20px;
            padding: 10px 5px;
            border-radius: 5px;
            background-color: #fff;
            border: 2px solid #c81f25;
            height: auto;
            display: inline-block;

            p {
                transform: rotate(0);
                display: inline-block;

            }

        }
    }


}

.select2-container--open .select2-dropdown {
    z-index: 999999999999999;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
    background-color: #c91f25 !Important;
}


.profile {
    .All_Button.lang.contact h3 {
        color: #ca1f25;
        text-align: center;
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
        line-height: 3;
        padding: 0 15px;

        li {
            // text-transform: capitalize;

            span {
                margin-right: 10px;
                font-weight: 600;
                color: #3e1010;
            }

            P {
                display: inline-block;
                // text-transform: capitalize;
                color: #c61f25;
            }

            i {
                font-family: "Font Awesome 5 Free";
                color: #ffffff;
                margin-right: 10px;
                width: 25px;
                height: 25px;
                background: #ce3338;
                text-align: center;
                line-height: 1.9;
                border-radius: 5px;
                font-size: 14px;
            }
        }
    }
}

.modal-open .modal {
    z-index: 99999999999;

    input {
        overflow: visible;
        background: #fffdfd;
        padding: 8px 30px;
        border: 2px solid #c81f25;
        width: 90%;
        margin: 0 auto;
        display: block;
        border-radius: 20px;
        outline: none;
        text-align: center;
    }

    .divSelect .select2.select2-container .select2-selection {
        border: 2px solid #c61f25;
        border-radius: 20px;
        height: 45px;
        transition: all 0.15s ease-in-out;

    }

    .select2.select2-container .select2-selection .select2-selection__arrow {
        background: transparent;
        border-left: 0;
        height: 44px;
        width: 44px;
    }

    .form-group.divSelect {
        width: 90%;
        display: block;
        margin: 0 auto;
    }

    .select2.select2-container .select2-selection .select2-selection__rendered {
        line-height: 44px;
        text-align: center;
    }

    button.btn.btn-primary {
        border: 0;
        border-radius: 0;
        padding: 8px;
        outline: none;
        background: #c61f25;
        box-shadow: none;
    }

    .btn-secondary {
        border: 0;
        border-radius: 0;
        padding: 8px;
        outline: none;
        box-shadow: none;
        background: #000;

        span.newcharacter {
            font-weight: 900 !important;
            margin: 3px !important;
            -webkit-text-stroke: 1px #f00;
        }
    }

    .select2-container--open .select2-dropdown {
        z-index: 999999999999999;
    }
}

.modal-backdrop {
    z-index: 9999;
}

.All_Button.lang.Devices {
    height: 85vh !important;

    .allDevice {
        padding: 0;

        li {
            width: (100%/2.4);
            display: inline-block;
            background: transparent;
            border: 1px solid #aaaa;
            margin: 12px 7px;
            box-shadow: 0 0 5px #bbb4b4;
            text-transform: capitalize;
            padding-bottom: 10px;

            p.name {
                font-weight: 600;
                color: #333;
            }

            img {
                width: 70%;
            }

            a.btn.btn-primary {
                height: auto;
                padding: 5px;
                font-family: monospace;
                border-radius: 5px;
                border: 2px solid #c81f25;
                margin-top: 0;
                box-shadow: none;
                background: #c81f25;
                color: #fff;
            }

            p {
                margin-bottom: 5px;
                text-align: center;
                color: #555;

                i {
                    color: #c61f25;
                }

            }
        }

    }
}

ul.allDevice.viewPage {
    p.name {
        font-weight: 600;
        color: #333;
        font-size: 25px;
    }

    li:first-child {
        margin-top: 50px !important;

        img {
            width: 40% !important;

        }
    }

    li:nth-child(2),
    li:nth-child(3) {
        background: #fff !important;
        color: #c61f25;
        position: relative;
        position: relative;
        height: 157px;
        overflow: hidden;

        i {
            font-size: 46px;
            margin-top: 10px;
        }

        h3 {
            color: #292929;
            line-height: 3;
            font-family: monospace;
            letter-spacing: 0px;
            font-weight: 100;
        }

        a {
            font-weight: 900;
            position: absolute;
            bottom: 0;
            margin: 0;
            right: 0;
            left: 0;
            width: 100%;
            border-radius: 0 !important;
            height: 42px !important;
            line-height: 2;
            font-size: 15px;
            color: #ffffff;
            border: 1px solid #ddd !important;
            background: #bf2025;
        }
    }
}

.All_Button.lang.sign.Login {
    .form-group {
        width: 22%;
        display: inline-block;
        position: relative;
        overflow: hidden;
        height: 80px;

        input {
            border: 0;
            border-radius: 0;
            position: absolute;
            top: 26%;
            left: 0;
            background: transparent;
            color: #000;
            padding: 0;
            text-align: center;
            width: 100%;
            font-size: 20px;
            font-weight: 600;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;

        }
    }

    .made {
        margin-top: 20px;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;

    }
}

.editProfile {
    background: #fff !important;
    display: block !important;
    height: auto !important;
    border-radius: 0 !important;
    padding: 15px !important;
    width: 96% !important;

    i {
        font-size: 20px;
        color: #c61f25;
        margin-left: 7px;
    }
}

ul.allMessage.allUsers {
    padding-bottom: 10px !important;

    li {
        padding: 0 !important;
        height: auto !important;
        line-height: 1.5;

        p {
            margin-bottom: 0;
            padding: 15px;
            display: inline-block !important;
        }

    }

    span.delete,
    span.pin {
        position: absolute;
        background: red;
        height: 25px;
        width: 25px;
        top: 25%;
        right: 0;
        overflow: hidden;
        color: #fff;
        border-radius: 5px;

        i {
            width: auto !important;
            display: block !important;
            float: none !important;
            line-height: 1.6 !important;
            color: #fff !important;
            text-align: center !important;
        }
    }

    span.pin {
        right: 30px;
        background: green;
    }
}

div#exampleModalCenter2 {
    text-align: center;

    i {
        font-size: 60px;
        display: block;
        text-align: center;
        color: #c61f25;
        margin-bottom: 29px;
    }
}

div#exampleModalCenter {
    text-align: center;

    i {
        font-size: 60px;
        display: block;
        text-align: center;
        color: #080;
        margin-bottom: 10px;
    }
}

.red {
    color: red;
}

#result {
    font-size: 24px;
    font-weight: bold;
}

input[type="email"] {
    text-transform: none !important;
}

span.newcharacter {
    text-transform: lowercase !important;
    margin: 1px !important;
    color: #bc2025 !important;
    font-family: heart;
    font-weight: 600;
}

.btnLang {
    font-family: cairo;
}

.header {
    li.icon {
        z-index: 999999999;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 25px;
        color: #fff;
        width: 50px;
        list-style: none;

        img {
            width: 29px;
            display: inline-block;
        }
    }
}

.languages {
    background: #f3f3f3;
    width: 260px;
    height: 230px;

    position: fixed;
    z-index: 99999999;
    right: -100%;
    top: -100%;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 15px #b7b7b7;
    transition: all 0.7s ease-in-out;

    li {
        line-height: 3;

        .img-fluid {
            width: 31px;
            line-height: 2;
        }
    }

    ul {
        list-style: none;

        li {
            a {
                color: #555;
            }
        }

        li:first-child {
            position: absolute;
            transform: rotate(-43deg);
            top: 40px;
    left: 6px;
        }

        li:nth-child(2) {
            position: absolute;
            top: 95px;
            left: 20px;
            transform: rotate(-45deg);
        }

        li:nth-child(3) {
            position: absolute;
            top: 142px;
            left: 38px;
        
            transform: rotate(-54deg);
        }

        li:nth-child(4) {
            position: absolute;
            top: 140px;
            left: 148px;
            transform: rotate(-64deg);
        }
        li:nth-child(5) {
            position: absolute;
            top: 156px; 
            left: 86px;
            transform: rotate(-64deg);
        }
    }

}

.languages.active {
    right: -40px;
    top: -30px;
    transition: all 0.7s ease-in-out;
}

.app.formheartpage.contactPage.setting {
    .icondoor {
        z-index: 99999;
        left: 18px;
        right: auto;
    }
}

.index {
    li.icon {
        z-index: 999999999;
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-size: 15px;
        color: #fff;
        width: 30px;
        list-style: none;
        transition: all 0.7s ease-in-out;

    }

    .languages {
        background: #f3f3f3;
        width: 260px;
        height: 260px;
        position: fixed;
        z-index: 99999999;
        right: -100%;
        bottom: -100%;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 15px #b7b7b7;
        transition: all 0.7s ease-in-out;

        ul {
            position: relative;
            overflow: hidden;
            height: 100%;
            li:first-child {
                position: absolute;
                transform: rotate(-5deg);
                top: 10px;
                left: 60px;
            }

            li:nth-child(2) {
                position: absolute;
                top: 55px;
                left: 29px;
                transform: rotate(-4deg);
            }

            li:nth-child(3) {
                position: absolute;
                top: 105px;
                left: 16px;
                transform: rotate(0);
            }

            li:nth-child(4) {
                position: absolute;
                top: 145px;
                left: 35px;
                transform: rotate(0);
            } 
            li:nth-child(5) {
                position: absolute;
                top: 185px;
                left: 65px;
            
                transform: rotate(0);
            } 
        }

    }

    .languages.active {
        right: -40px !important;
        bottom: -30px !important;
        transition: all 0.7s ease-in-out !important;
        top: auto;

    }
}


.linkSetting {
    position: fixed;
    bottom: -20px;
    left: -20px;
    right: auto;
    font-size: 30px;
    color: #fdfdfd;
    background: red;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    line-height: 2.5;
    z-index: 9999;

    .fa-cog {
        position: absolute;
        top: 20px;
        right: 16px;
        left: auto;
    }

}

a {
    text-decoration: none !important;
}


html[lang="ar"]

@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');
body {
  overflow: hidden;
  padding: 0;
  margin: 0; 
  direction: rtl ;
  font-family: 'Cairo'!important;

}
.app .header .iconuser  {
  left: auto;
  right: 10px; 
}
.app .header .icondoor{
  left:  10px ;
  right: auto; 
  z-index: 9999;
}
.select2-results__option[aria-selected],
.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
   text-align: right;
}
.app.white .All_Button ul.allMessage li {
 direction: rtl;
} 
ul.allMessage.allUsers span.delete {
  left: 5px;
  right: auto; 
}
ul.allMessage.allUsers span.pin {
  left: 35px;
  right: auto;  
}
.app.white .All_Button ul.allMessage li p {
 float: right;
  text-align: right;
  padding-right: 0;
  padding-left: 11px;
}
.formheartpage .fromheart {
   direction: rtl;
}
.modal-header .close {
    margin-left: 0;
    margin-right: auto;
}
.modal-open .modal .btn-secondary {
   padding: 7px 16px;
  background: #000;
  margin-left: 5px;
}
.app.white .All_Button ul.allMessage li img {
  float: right;
}
.app.white .All_Button ul.allMessage li img.emojy {
    right: auto;
    left: 5px;
 }
 .app.white .All_Button ul.allMessage li b.name .date {
   left: 10px;
  right: auto;
}
.app.white .All_Button ul.allMessage li b.name {
  left: 0;
  right: auto; 
  text-align: right;

 }
 .profile ul { 
  text-align: right;
}
.app.white .All_Button ul.allMessage li p,

.app.white .All_Button ul.allMessage li b.name,
.app .All_Button a,
.All_Button.lang.contact .btnsMessage a ,
.app .lang h3 { 
  letter-spacing: 0;
  font-family: 'Cairo'!important;
 
}
.app.white .Image_define li p {
 font-size: 11px;
}

.app .All_Button a p { 
  font-size: 14px;
}
.All_Button.lang.sign .form-group input {
  direction: ltr;
}

